@page "/top-50-by-revenue"

@inject IElasticService elasticService

<PageTitle>Biggest profit</PageTitle>

<MudText Typo="Typo.h3">50 Movies with the biggest profit</MudText>

@foreach (var m in movies)
{
    var lnk = $"/movie-details/{m.Id.ToString()}";
    <MudLink Href="@lnk">
        <MudPaper Class="pa-4 ma-4" Elevation="3">
            <div class="d-flex flex-grow-1 gap-6">
                <MudPaper Class="flex-none py-4" Width="200px" Elevation="0">
                    <MudImage Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" Src="@(m.PosterPath)" />
                </MudPaper>
                <MudPaper Class="flex-grow-1 py-4" Elevation="0">
                    <MudText Typo="Typo.h4" Class="py-4"><b>@m.Title</b>&nbsp;(@m.ReleaseDate.ToString("yyyy"))</MudText>
                    <MudText Typo="Typo.h6" Class="pb-3">Profit: @m.Revenue.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</MudText>
                    <MudText Typo="Typo.button" Class="py-1">
                        @foreach (var g in m.Genres)
                        {
                            <span>@g.Name &nbsp;</span>
                        }
                    </MudText>
                    <MudText Typo="Typo.body1" Class="py-3"><i>@m.Tagline</i></MudText>
                    <MudText Typo="Typo.h6" Class="py-2">Overview</MudText>
                    <MudText Typo="Typo.body1" Class="py-2">@m.Overview</MudText>
                </MudPaper>
                <MudPaper Class="flex-none py-4" Width="100px" Elevation="0">
                    <MudText Typo="Typo.h6" Align="Align.Center" Class="py-3">Rating</MudText>
                    <MudText Typo="Typo.h4" Align="Align.Center"><b>@m.VoteAverage</b></MudText>
                </MudPaper>
            </div>
        </MudPaper>
    </MudLink>
}

@code {
    IEnumerable<Movie> movies;

    protected override void OnInitialized()
    {
        movies = elasticService.GetTop50MoviesByRevenue();
    }
}

